html {
    background-image: linear-gradient(#FC5E55, #FA4083);
}

body {
    background-image: url(images/image-lion-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

nav a.mybutton {
    margin-left: 30px;
}

.navbutton {
    border: 1px solid white;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    display: inline-block;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    padding-top: 15px;
    text-align: center;
}

.navbutton:hover .dropdown {
    display: block;
}

.navbutton .dropdown .navbutton {
    background-color: white;
    height: 25px;
    width: 140px;
    margin-left: -40px;
}

.navbutton .dropdown .navbutton:hover {
    background-color: #FC5E55;
    transition-duration: 0.5ms;
}


.navbutton .dropdown a {
    color: rgb(0, 0, 0);
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.mybutton {
    background-color: white;
    color: #FC5E55;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 11px 25px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
}

.mybutton:hover {
    background-color: rgb(255, 255, 65);
    color: black;
    font-weight: bold;
}

.cards {
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.22);
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.22);
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.22);
}

.card1, .card2, .card3 {
    padding: 30px 30px 10px 30px;
    box-sizing: border-box;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox1 a {
    text-decoration: none;
}

.herobox2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    padding-bottom: 10px;
}

.cards i  {
    font-size: 100px;
}

a {
    color: white;
    text-decoration: none;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

.tbox :last-child{
    font-size: 0.8rem;
}

/* ----- Contact Us Style ----- */

.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.textwrapper {
    padding-bottom: 20px;
}

input[type=text], input[type=email], textarea {
    padding: 12px 20px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    box-sizing: border-box;
}

.newline {
    display: block;
    padding-bottom: 10px;
}

.margin-right {
    margin-right: 25px;
}

.mybutton2 {
    background-color: white;
    color: #FC5E55;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    border: none;
    margin: 20px 0px 40px 0px;
    font-weight: bold;
    width: 130px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
}

.mybutton2:hover {
    background-color: rgb(255, 255, 65);
    color: black;
}